.fieldParent {
  /* margin: 5rem 0; */
  padding: 2rem;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.fieldParent > div {
  margin-top: 1rem;
}

.fieldParent input {
  border: 2px rgb(237, 237, 237) solid;
  padding: 1.6rem;
  font-weight: 500;
  margin: 0.5rem 0;
  border-radius: 10px;
  width: 100%;
  height: 2.2rem;
  /* text-align: center; */
}

#FormedField {
  width: 500px;
}

.field {
  border-radius: 10px;

  height: 2.2rem;
}

.error {
  color: rgb(225, 48, 48);
}

@media only screen and (max-width: 600px) {
  .fieldParent {
    padding: 1rem;
  }
}
